name: Build example

on:
  push:
    branches-ignore:
      # Ignore Dependabot branches because it will also open a pull request, which would cause the
      # workflow to redundantly run twice
      - dependabot/**
  pull_request:

permissions:
  contents: read  # to fetch code (actions/checkout)

jobs:
  check-formatting:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      # TODO: Simplify this by using https://github.com/typstyle-rs/typstyle-action?
      #   but is not that actively maintained and does not support specifying typstyle version?
      - name: Download typstyle
        uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05  # v1.12
        with:
          repository: typstyle-rs/typstyle
          tag: v0.13.17
          fileName: typstyle-x86_64-unknown-linux-gnu
      - name: Rename typstyle binary
        run: |
          mv typstyle-x86_64-unknown-linux-gnu typstyle
          chmod +x typstyle
      - name: Check formatting
        # Increase line width to 120, to also match default of Tinymist IDE extension
        run: ./typstyle --line-width 120 --diff .

  build-example:
    name: "Build example (Typst ${{ matrix.typst-version }})"
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.allowed-to-fail }}
    strategy:
      fail-fast: false
      matrix:
        typst-version: [ "0.14.0" ]
        allowed-to-fail: [ false ]
        include:
          - typst-version: "latest"
            # Don't fail for 'latest' Typst version to avoid sudden failures on PRs or after merging PRs to main
            # when new Typst version has been released in the meantime
            allowed-to-fail: true

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: typst-community/setup-typst@0215a551fa8714b290af7956b9973d010f1a5187  # v4.2.0
        with:
          typst-version: ${{ matrix.typst-version }}
          # Note: Could possibly specify `cache-dependency-path: example/package-imports.typ` but not sure if
          #   that yields any performance improvement, and also for the hash calculation it would not consider
          #   changes to the versions of transitive package imports (in the thesis template `package-imports.typ`)

      - name: Build thesis
        working-directory: example
        # TODO: Once supported fail on warnings, see https://github.com/typst/typst/issues/6787
        # TODO: Maybe in the future use `--pdf-standard ua-1` (or ua-2) to check accessibility compliance
        run: typst compile thesis.typ thesis.pdf

      - name: Build cover
        working-directory: example
        # TODO: Once supported fail on warnings, see https://github.com/typst/typst/issues/6787
        run: typst compile cover.typ cover.pdf
